/* Natural Tags */

body {
  background-color: black;
  transition: background-color ease-in-out 5s;
}

pre {
  font-weight: light;
  font-family: monospace;
}

input {
  border: 1px solid red;
  background-color: black;
}

/* Class */

.glow-brown-box {
  box-shadow: 5px 2px 2px burlywood;
}

.weird-btn {
  border: 1px solid red;
  background-color: clear;
}

.weird-btn:hover {
  cursor: default;
  background-color: red;
}

.commodore {
  font-family: Commodore;
}

/* IDs */

#game-window {
  width: 600px;
  height: 600px;
  border-radius: 5px;
  border: 3px solid red;
}

#stats {
  top: 0px;
  left: 0px;
  margin: 0;
  color: red;
}

#stats2 {
  top: 0px;
  right: 0px;
  color: red;
  position: absolute;
}

#presets, #tutorial {
  color: red;
}

#presets-btn {
  width: 300px;
}

#tutorial-sheet {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  background-color: burlywood;
}

/* Font Faces */

@font-face {
  font-family: 'Commodore';
  src: url('https://frontier-woods.codesalvageon.repl.co/static/styles/fonts/commodore_64/c64.TTF');
  font-weight: normal;
  font-style: normal;
}