/* Natural Tags */

body {
  background-color: black;
  transition: background-color ease-in-out 5s;
}

pre {
  font-weight: light;
  font-family: monospace;
}

input {
  border: 1px solid red;
  background-color: black;
}

/* Class */

.glow-brown-box {
  box-shadow: 5px 2px 2px burlywood;
}

.weird-btn {
  border: 1px solid red;
  background-color: clear;
}

.weird-btn:hover {
  cursor: default;
  background-color: red;
}

.commodore {
  font-family: Commodore;
}

.left {
  left: 3px;
  position: absolute;
}

.flex {
  position: flex;
}

/* IDs */

#game-window {
  width: 600px;
  height: 600px;
  border-radius: 5px;
  border: 3px solid red;
}

#game-window:hover {
  cursor: url('https://frontier-woods.codesalvageon.repl.co/static/images/crosshair.png'), auto;
}

#stats {
  top: 0px;
  left: 0px;
  margin: 0;
  color: red;
}

#stats2 {
  top: 0px;
  right: 0px;
  color: red;
  position: absolute;
}

#presets, #tutorial, #credits-div {
  color: red;
}

#credits-div, #credits2-div {
  background-color: #4a4948;
}

#presets-btn, #credits-btn, #file-btn, #go-back-from-credits, #upgrade-btn, #cook-btn, #go-back-from-the-plains, #abort-journey, #fire-weapon-hunting, #goto-water, #trade-with-town, #raid-town, #tools-research-btn, #go-back-from-tools, #go-back-from-the-hunt, #start-the-hunt {
  width: 300px;
}

#look-btn, #home-btn {
  width: 300px;
}

#cook-btn, #upgrade-btn {
  color: red;
  text-align: center;
  background-color: black;
}

#cook-btn:hover, #upgrade-btn:hover {
  background-color: red;
}

#tutorial-sheet {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  background-color: burlywood;
}

#the-plains, #travel-ops2, #travel-town, #tools-build {
  width: 500px;
  height: 400px;
  border-radius: 5px;
  background-color: white;
}

#travel-hunting, #the-hunt {
  width: 500px;
  height: 400px;
  position: relative;
  background-color: grey;
}

#woods-controls, #home-controls {
  height: 230px;
  position: relative;
  background-color: burlywood;
}

#look-btn, #home-btn {
  top: 0px;
  height: 32px;
  padding: 5px;
  background-color: black;
}

#food-btn {
  height: 32px;
  padding: 5px;
  color: red;
  background-color: black;
}

#travel-btn {
  background-color: #4a4948;
}

#food-btn:hover, #travel-btn:hover {
  background-color: red;
}

#look-btn {
  left: 0px;
  position: absolute;
}

#look-btn:hover, #home-btn:hover, #lay-traps:hover, #go-back-from-the-plains:hover {
  cursor: default;
  background-color: red;
}

#view-console, #forage, #go-back-from-home, #lay-traps, #go-back-from-the-plains, #start-exploring, #abort-journey, #fire-weapon-hunting, #goto-water, #trade-with-town, #raid-town, #go-back-from-console, #build-tools, #tools-research-btn, #go-back-from-tools, #go-hunting, #go-back-from-the-hunt, #start-the-hunt {
  color: red;
  background-color: black;
}

#view-console:hover, #forage:hover, #go-back-from-home:hover, #start-exploring:hover, #abort-journey:hover, #fire-weapon-hunting:hover, #trade-with-town:hover, #raid-town:hover, #go-back-from-console:hover, #build-tools:hover, #tools-research-btn:hover, #go-back-from-tools:hover, #go-hunting:hover, #go-back-from-the-hunt:hover, #start-the-hunt:hover {
  background-color: red;
}

#home-btn {
  right: 0px;
  position: absolute;
}

#status {
  margin: 0;
  color: red;
  border: 1px solid red;
  background-color: black;
}

#home-output {
  width: 300px;
  right: 0px;
  bottom: 0px;
  height: 56px;
  position: absolute;
  background-color: blue;
}

#hunt-bar {
  width: 50px;
  height: 10px;
  position: absolute;
  background-color: red;
}

/* Font Faces */

@font-face {
  font-family: 'Commodore';
  src: url('https://frontier-woods.codesalvageon.repl.co/static/styles/fonts/commodore_64/c64.TTF');
  font-weight: normal;
  font-style: normal;
}