/* Natural Tags */

body {
  background-color: black;
  transition: background-color ease-in-out 5s;
}

/* Class */

.glow-brown-box {
  box-shadow: 2px 2px 5px burlywood;
}

/* IDs */

#game-window {
  width: 600px;
  height: 600px;
  border-radius: 5px;
  border: 3px solid burlywood;
}

#stats {
  top: 0px;
  left: 0px;
  margin: 0;
  color: red;
}

#stats2 {
  top: 0px;
  right: 0px;
  color: red;
  position: absolute;
}